################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/carInspectionManagment/carInspectionManagment/WeatherForecast.cs
/carInspectionManagment/carInspectionManagment/obj/Debug/net5.0
/carInspectionManagment/carInspectionManagment/obj
/carInspectionManagment/CarInspectionManagment.Business/bin/Debug/net5.0
/carInspectionManagment/CarInspectionManagment.Business/obj
/carInspectionManagment/carInspectionManagment/bin/Debug/net5.0
/carInspectionManagment/.vs/carInspectionManagment/v16/TestStore/0/000.testlog
/carInspectionManagment/.vs/carInspectionManagment/v16/TestStore/0/testlog.manifest
/carInspectionManagment/CarInspectionManagment.Contract/bin/Debug/net5.0
/carInspectionManagment/CarInspectionManagment.Contract/obj/Debug/net5.0
/carInspectionManagment/CarInspectionManagment.Test/bin/Debug/net5.0
/carInspectionManagment/CarInspectionManagment.Test/obj/Debug/net5.0
/carInspectionManagment/CarInspectionManagment.Contract/obj
/carInspectionManagment/CarInspectionManagment.Test/obj
/carInspectionManagment/.vs/carInspectionManagment/FileContentIndex
/carInspectionManagment/.vs/carInspectionManagment/DesignTimeBuild
/carInspectionManagment/.vs/carInspectionManagment/v17
/carInspectionManagment/ConnecterLayer/obj
/carInspectionManagment/.vs/ProjectEvaluation
/.vs/carInspectionManagment/FileContentIndex
/.vs/carInspectionManagment/v17/.wsuo
/carInspectionManagment
